.card {
    background: #fff;
    border-radius: 2px;
    height: 160px;
    margin: 10px;
    width: 160px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    text-align: center;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 15px;
  }