.header{
	margin-top: 35px;
	background-color: #ccc;
	height: 200px;
	position: fixed;
	width: 100%;
	height: 300px;
}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 40px 0 10px 0; 
}

h2{
	text-align: center;
	font-size: 30px;
}