/*newj*/
.navbar li {
  display: inline-block;
  text-align: center;
}

.item1 {
  width: 15%;
}

.item2 {
	width: 70%;
}

.item3 {
  width: 15%;
}

.navbar {
  background: #490549;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 24px;
}

.jumbotron{
	position: relative;
	background-color: #ccc;
}

.jumbotron h1{
	padding-top: 40px;
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 70px 0 20px 0; 
}

.jumbotron h2{
	text-align: center;
	font-size: 30px;
}